@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body, 
:root {
    --tricorn-black: #2F2F30;
    --pure-white: #edece6;
    --primary-link: #3a86ff;
    --primary-link-hover: #0767FF;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham .top {
    stroke-dasharray: 40 121;
  }
  .ham .bottom {
    stroke-dasharray: 40 121;
  }
  .ham.active .top {
    stroke-dashoffset: -68px;
  }
  .ham.active .bottom {
    stroke-dashoffset: -68px;
  }

/* POST STYLES */

#post-content > #inner-html > h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

#post-content > #inner-html > h3 {
  font-size: 1.17rem;
  font-weight: 700;
}

#post-content > #inner-html a {
  color: var(--primary-link);
  border-bottom: 2px solid var(--primary-link);
}

#post-content > #inner-html  a:hover {
  color: var(--primary-link-hover);
  border-bottom: 2px solid var(--primary-link-hover);
}

/* STYLES FOR CODE BLOCKS */
  #post-content > #inner-html > pre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--tricorn-black);
    padding: 2em;
    border-radius: 6px;
  }

pre > code, kbd {
    font-family: monospace;
    color: var(--pure-white);
    font-size: 0.8rem;
  }

  kbd {
    background-color: var(--tricorn-black);
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    padding: 1px 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  }

  pre > code {
      display: block;
      white-space: normal;
  }